/* style.css */
body {
  font-family: Arial, sans-serif;
}

.qs_app_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  /* padding: 1rem; */
}

/* content */
.qs_app_modal_content {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 1rem;
  justify-content: space-between;
  height: 80vh;
  margin: 40px 0;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Header */
.qs_app_modal_header {
  display: none;
}

/* body */
.qs_app_modal_body {
  overflow-y: scroll;
}

/* Footer */
.qs_app_modal_footer {
  display: flex;
  flex-direction: column;
}

/* responsiveness */
@media screen and (min-width: 768px) {
  .qs_app_modal_header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .qs_nav_parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .qs_app_modal_content {
    margin: 70px 50px;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.qs_app_skip_button {
  background-color: #d6d6d6; /* Light gray */
  /*color: black; !* Black text for better contrast *!*/
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.qs_app_skip_button:hover {
  opacity: 1;
  background-color: #bfbfbf; /* Slightly darker gray on hover */
}

.qs_app_centered_buttons {
  text-align: center;
}

.qs_app_step {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  visibility: hidden;
}

.qs_app_step.active {
  opacity: 1;
  visibility: visible;
}

#qs_app_prev_btn,
#qs_app_next_btn {
  background-color: transparent; /* Adjust as needed */
  color: white;
  padding: 10px 20px;
  border: 2px solid white; /* Optional: add border */
  cursor: pointer;
  opacity: 0.9;
  margin: 0 5px;
}

#qs_app_prev_btn:hover,
#qs_app_next_btn:hover {
  opacity: 1;
}
#qs_app_prev_btn,
#qs_app_next_btn {
  background-color: #007bff; /* Bootstrap primary blue */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

#qs_app_prev_btn:hover,
#qs_app_next_btn:hover {
  opacity: 1;
  background-color: #0056b3; /* A darker shade of blue for hover */
}

/*Step nav*/
.qs_app_steps_nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.qs_app_step_nav.active {
  /*font-weight: bold;*/
  background-color: #f8f9fc; /* Distinct background for active step */
  border: 1px solid #666;
  color: #000;
}

.qs_app_video_wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.qs_app_video_wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
